extends layout

block content
  .row 
    h3 SEARCH
    .col.s12 
        .card-panel.blue-grey.lighten-5 
            .row.valign-wrapper 
                .input-field.col.m9.s12 
                    i.material-icons.prefix subdirectory_arrow_right 
                    input.autocomlete(type="text", id="autocomplete-input")
                    label(for="autocomplete-input") Autocomplete article search 
                .col.m3.s12
                    button.btn.waves-effect.orange.waves-light(type="submit", name="action") Search 
                        i.material-icons.right search 
  .row 
    .col.m8.s12 
      h3 #{title}
      .row 
        if (articles.length === 0)
          | There's no published content yet.
          br
          a(href="/login") Log in
          | to post and public.
        else
          each article, index in articles 
            .col.s12.m12 
              .card.horizontal.hoverable 
                .card-image 
                  img(src="https://single-page-mdx.herokuapp.com/assets/6.jpg")
                .card-stacked 
                  .card-content
                    p=article.body
                    p
                      i=article.author 
                  .card-action
                    a(href="articles/#{article.slug}")= article.title
                  
    .col.m4.s12 
      .row 
        .col.m12 
          h3 USERS 
          if (usernames.length ===0)
            | There's no users
            br
          else
            ul.collection
              each username in usernames
                li.collection-item=username.username
